

        <div class="form-check">
            <input class="form-check-input" type="radio" name="format" id="formats1" value=<?= $formats[0]['id'] ?>>
            <label class="form-check-label" for="format"><?= $formats[0]['name'] ?></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="format" id="formats2" value=<?= $formats[1]['id'] ?>>
            <label class="form-check-label" for="format"><?= $formats[1]['name'] ?></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="format" id="formats3" value=<?= $formats[2]['id'] ?>>
            <label class="form-check-label" for="format"><?= $formats[2]['name'] ?></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="format" id="formats4" value=<?= $formats[3]['id'] ?>>
            <label class="form-check-label" for="format"><?= $formats[3]['name'] ?></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="format" id="formats5" value=<?= $formats[4]['id'] ?>>
            <label class="form-check-label" for="format"><?= $formats[4]['name'] ?></label>
        </div>